<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DogFeatureApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D19FC0911ED9B0D3001C9B55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D19FC0A51ED9B0D3001C9B55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D19FC0B01ED9B0D3001C9B55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
